<!--footer-->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          {% load static %}
          <img src="{% static 'img/logo.png' %}" alt="" width="170">
          <p>上課資訊 | 資訊服務<br>教育界的專長，程式設計</p>
        </div>
        <div class="col-md-4">
          <h4>網站地圖</h4>
          <ul>
            <li><a href="#">首頁</a></li>
            <li><a href="#">最新消息</a></li>
          </ul>
          <ul>
            <li><a href="#">課程介紹</a></li>
            <li><a href="#">聯絡我們</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>聯絡我們</h4>
          <p>聯成教育中心<br>
            Phone：(00) 111-1111<br>
            E-mail：rehand2024@gmail.com
          </p>
        </div>
      </div>
    </div>
  </footer>